@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* background-image: url('./images/732.jpg'); */
    /* background-position: top;
    background-size: cover;
    background-repeat: repeat-x; */
}

.wrapper{
    /* border: 1px solid rgb(255, 4, 4); */
    /* width: 100%; */
    max-width: 1180px;
    padding: 0;
    margin: 0 auto;
    /* box-shadow: 1px -100px 70px 1px rgba(28, 234, 189, 0.671); */
}

/* ---------------------------
            NAV
----------------------------- */
.scrolleded {
    background: rgba(0, 0, 0, 0.432);
    /* background: rgb(255, 255, 255); */
    transition: background 500ms ;
}
.scrolled-brand {
    color: white !important;
    transition: all 500ms !important;
}
.scrolled-brand-small {
    color: rgb(28, 234, 189) !important;
    transition: all 500ms !important;
}
.scrolled-link {
    color: rgb(255, 255, 255) !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
    /* border: 1px solid rgb(28, 234, 189) !important; */
    transition: all 500ms !important;
}
.scrolled-link:hover {
    border: 1px solid rgb(28, 234, 189) !important;
    transition: all 500ms !important;
}

#main-nav{
    /* border: 1px solid blue; */
    width: 100%;
    height: 90px;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
nav{
    /* font-size: 1.5rem;
    font-weight: 100;     */
}

nav .nav-link {
    color: rgb(116, 115, 115);
    padding: 9px 17px;
    margin-right: 20px;
    border: 1px solid white;
}
    /* border: 1px solid rgb(76, 223, 8); */

nav .nav-link:hover {
    color: rgb(28, 234, 189);
    border: 1px solid rgb(28, 234, 189);
    padding: 9px 17px;
    margin-right: 20px;
    transition: all 500ms !important;
    cursor: pointer;
}

nav .navbar-brand {
    color: rgb(28, 234, 189);
    font-size: 1.6rem;
}
nav small {
    /* color: rgb(0, 71, 15); */
    color: rgb(116, 115, 115);
    font-size: 1.2rem;
}


.navbar.scrolled {
    background: rgba(222, 192, 222, 0.877);
    transition: background 500ms;
}
/* -----------------
        SECTIONS
-------------------- */
#section-0{
    background-image: url('./images/trees.png');
    background-position: center;
    background-size: cover;
    height:280px;
    width: 100%;
    background-repeat: repeat-x;
    margin-top: 0px;
    /* border: 1px solid red; */
}
#section-0{
    padding: 55px 20px;
    text-align: center;
}
#section-0,#section-2 h2{
    font-size: 32px;
    color: rgb(28, 234, 189);
    
}
#section-0 h2{
    /* border: 1px solid red; */
}
#section-2{
    padding: 55px 20px;
    text-align: center;
    /* border: 1px solid blue; */
}
#section-2 h2{
    font-size: 32px;
    color: rgb(28, 234, 189);
}
#section-1{
    margin-top: 0px;   /* NICAN  */
}
 #banner{
    margin-top: 89px;
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------
            SERVICES
----------------------------- */

.card{
    /* height: 300px; */
    width: 100%;
    /* box-shadow: 5px 30px 5px 6px greenyellow; */
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.col-md-4{
    padding: 0;
}

/* ---------------------------
            CONTACT
----------------------------- */
#section-2 img{
    border-radius: 50%; 
    height: 70%;
    width: 300px;
    display: inline-block;
}
#section-2{
    padding: 0;
    /* margin: 0; */
}

